/* ***** ----------------------------------------------- ***** **
** ***** Editor Styles
** ***** ----------------------------------------------- ***** */

/* ***** Imports
** ***** ----------------------------------------------- ***** */

@import '1-tools/functions';
@import '1-tools/mixin-text';
@import '2-settings/colors';
@import '2-settings/layout';
@import '2-settings/text';
@import '2-settings/transition';


/* ***** Base Styles
** ***** ----------------------------------------------- ***** */

:root {
  font-size: $fontSizeBase;
}

body {
  font-family: get-font-family('body');
  font-size: 1.4rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: map-get($lineHeight, 'normal');
}

p {
  line-height: map-get($lineHeight, loose);
  margin: 2rem 0;
}

ul,
ol {
  line-height: map-get($lineHeight, loose);
  margin: 2rem 0 2rem 3rem;
  padding: 0;

  &.u-unstyled {
    list-style: none;
    margin-left: 0;
  }

  li {
    margin: 1rem 0;
  }
}

a {
  color: $linkColor;
  text-decoration: none;
  transition: color $transitionSlow;

  &:hover {
    @media (hover: hover) {
      color: $linkHoverColor;
    }
  }

  &:active {
    @media (hover: hover) {
      color: $linkActiveColor;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: get-font-family('heading');
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 6rem;
}

blockquote {
  border-left: 0.4rem solid get-color('greyDark4');
  margin: 3rem 2rem;
  padding-left: 2rem;
}

hr {
  border: 0;
  border-top: 0.1rem solid get-color('greyLightC');
  margin: 2rem 0;
}


/* ***** Custom Editor Styles
** ***** ----------------------------------------------- ***** */

