/* ***** ----------------------------------------------- ***** **
** ***** Objects/Nav Styles
** ***** ----------------------------------------------- ***** */


.o-nav {
  $this: &;

  &-menu {
    margin: 0;
  }

  &-menuListItem {
    display: inline-block;
    margin-left: get-size(10);
    @include mq('md') {
      margin-left: get-size(15, true);
    }

    &:first-child {
      margin-left: 0;
    }

    &--current {
      #{$this}-menuItem {
        color: get-color('white');
      }
    }
  }

  &-menuItem {
    display: inline-block;
  }

  &-subMenu {

  }
}
