/* ***** ----------------------------------------------- ***** **
** ***** Objects/Rich Text Editor Styles
** ***** ----------------------------------------------- ***** */


.c-rich_text_editor {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 4rem 0 1.5rem;

		&:first-child {
			margin-top: 0;
		}
	}

	p {
		&:first-child {
			margin-top: 0;
		}
	}

	.o-embed {
		margin: 5rem 0;
	}
}
